<mdb-card class="w-75 mb-3" id="panel1">
    <mdb-card-body>
        <mdb-card-title>
          <h5>REQUEST IS SENT</h5>
        </mdb-card-title><br>
          <p class="font-weight-normal">Type</p><br>
          <p class="font-weight-normal">Status(pending/accept)*can cancel if  its status is pending</p><br>
          <button type="button" mdbBtn color="danger" mdbWavesEffect align class="float-right" routerLink="">Cancel Request</button>
          <button type="button" mdbBtn color="primary" mdbWavesEffect align class="float-right" routerLink="">Ok</button>
      </mdb-card-body>
</mdb-card>