<div class="view">
    <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center">
    <div class="container text-center white-text">
    <div class="black-text text-center wow fadeInUp">

<div class="container">
    <div class="row"></div>
      <div class="col-sm-6">
          <!-- Default form login -->
          <form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="loginSubmit(form)">
              <p class="h4 mb-4">LOGIN</p>
            
              <!-- Email -->
              <input type="email" formControlName="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="User Name">
            
              <!-- Password -->
              <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
          
              <!-- Sign in button -->
              <button mdbBtn color="primary" block="true" class="my-4" type="submit">LOGIN</button>
            
              <!-- Register -->
              <p>Not a member?
                <a routerLink="/signup">Register</a>
              </p>
          </form>
          <!-- Default form login -->
      </div>
    </div>
</div>