.container{
    margin-top: 25px;
}
.view {
    background: url("http://oilandgasrealestate.com/wp-content/uploads/2019/01/Title-image.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
   }
form{
    background-color:white;   
}
.col-sm-6{
    margin-left: 265px;
}
.h4{
    color: #3978ed;
}