.jumbotron{
    margin: 5px 30px 0px 30px;
    height:400px
}
#button1{
    margin-top: 50px;
}
.row{
    height:500px;
}
.img-thumbnail{
    height:300px;
    width:300px;
}
h1{
    margin-top: 80px;
}