<h1 style="text-align:center">CURRENTLY AVAILAVLE WORKERS IN YOUR AREA</h1>
<div class="jumbotron text-center hoverable p-4">

    <div class="row">
    <div class="col-md-3 offset-md-1 mx-3 my-3">
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-thumbnail" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    
    <div class="col-md-7 text-md-left ml-3 mt-3">
         <h4 class="h4 mb-4">First + last name</h4>
         <br>
         <p class="font-weight-normal">Rate</p><br>
         <p class="font-weight-normal">Base Location</p><br>
         <p class="font-weight-normal">Skill Description</p><br>
         <p class="font-weight-normal">Hourly Charge</p>
    </div>
    </div>
</div>

   <div class="row">
     <div class="col-md-4 offset-md-9">
         <button mdbBtn id="button1" type="button" color="success" mdbWavesEffect routerLink="/pending">Send Requests</button>
         <button mdbBtn id="button1" type="button" color="danger" mdbWavesEffect routerLink="">cancel</button>
     </div>
   </div>
   