<div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <form class="border border-light p-5" id="b">
                <p class="h4 mb-4" style="text-align:center">Update Skills</p>
            
                 <div class="view overlay waves-light" mdbWavesEffect>
                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-thumbnail" alt="Sample image for first version of blog listing">
                    <a>
                <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <button type="button" mdbBtn color="success" mdbWavesEffect align class="float-right">Update Profile Picture</button>
                <br><br>  
            </form>
        </div>
    
        <div class="col-4">  
            <form class="border border-light p-5">
                <p class="h4 mb-4" style="text-align:center">Profile</p>
    
                <label for="fname">First Name</label>
                <input type="text" class="form-control mb-4" placeholder="">
                
                <label for="lname">Last Name</label>
                <input type="text" class="form-control mb-4" placeholder="">
    
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control mb-4" placeholder="">
    
                <label for="location">Base Location</label>
                <select id="location" class="form-control mb-4" >   
                    <option value="locate"></option>    
                </select>
               
                <label for="status">Status</label>
                <select id="status" class="form-control mb-4" >   
                    <option value="online">Online</option>
                    <option value="offline">Offline</option>
                </select>
                
                <button type="button" mdbBtn color="success" mdbWavesEffect align class="float-right">Update Profile</button>
                <br><br>  
            </form>
        </div>
    
        <!-- <div class="col-4"></div> -->
    
        <div class="col-3">
            <form class="border border-light p-5" id="a">
                <p class="h4 mb-4" style="text-align:center">Add new skills</p>
    
                <select id="type" class="form-control mb-4" >   
                        <option value="online">Mechanic</option>
                </select>
    
                <textarea class="form-control mb-4" placeholder="description"></textarea>
    
                <input type="rate" id="hourly_rate" class="form-control mb-4" placeholder="Hourly Rate">
                
                <button type="button" mdbBtn color="danger" mdbWavesEffect align class="float-right">Cancel</button>
                <button type="button" mdbBtn color="success" mdbWavesEffect align class="float-right">Add</button>
                <br><br>  
            </form>
    
            <form class="border border-light p-5" id="b">
                <p class="h4 mb-4" style="text-align:center">Update Skills</p>
    
                <select id="type" class="form-control mb-4" >   
                        <option value="online">Mechanic</option>
                </select>
    
                <textarea class="form-control mb-4" placeholder="description"></textarea>
    
                <input type="rate" id="hourly_rate" class="form-control mb-4" placeholder="Hourly Rate">
                
                <button type="button" mdbBtn color="danger" mdbWavesEffect align class="float-right">Cancel</button>
                <button type="button" mdbBtn color="success" mdbWavesEffect align class="float-right">Update</button>
                <br><br>  
            </form>
        </div>
    </div>
    