#date1,#time,#label2,{
    margin-top: 15px;
}
.view {
    background: url("http://oilandgasrealestate.com/wp-content/uploads/2019/01/Title-image.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
   }
#label2{
    color: aliceblue;
}
#button1{
    margin: 50px 0px 0px 80px;
}
#button2{
    margin: 50px 0px 0px 100px;
}

