
<div class="view">
        <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text">
        <div class="black-text text-center wow fadeInUp">

<div class="container">
        <div class="row">
                <div class="col-sm-3">
        </div>
                <div class="col-sm-6">

                <div class="input-group">
                        <input type="text" class="form-control form-control-lg input-border" aria-label="Text input with dropdown button"  placeholder="I am looking for ...">
                </div>
               
                <label id=label2 >
                        <strong> Date </strong>
                </label>

                <div class="input-group">
                        <input type="date"  id="date1" class="form-control form-control-lg input-border" mdbInput placeholder="Pick your date...">
                </div>

                <div>
                <label id=label2>
                        <strong> Start time </strong>
                </label>
                </div>

                <div class="input-group">
                        <input type="time" id="time" class="form-control form-control-lg input-border" mdbInput value="13:00:00" placeholder="Start Time">
                </div>

                <div class="row"> 
                        <button id="button1" type="button" mdbBtn color="warning" mdbWavesEffect routerLink="/map" >Book Now</button>
                        <button id="button2" type="button" mdbBtn color="warning" mdbWavesEffect routerLink="/later">Book Later</button>
                </div>
        </div>
                <div class="col-sm-3"></div>
        </div>
 </div>