.container{
    margin-top: 25px;
}
.view {
    background: url("http://oilandgasrealestate.com/wp-content/uploads/2019/01/Title-image.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}