<div class="row">
    <div class="col-md-4" *ngFor="let request of RequestList">
        <div class="card">
        <div class="card-body">

        <h5 class="card-title">Request ID: {{request.RequestId}}
            <br><br>
            <B>WORK TYPE: {{request.SkillTitle}}</B>
        </h5>
            <p class="card-text">CLIENT: {{request.ClientId}}</p>
            <p class="card-text">DATE: {{request.OrderDate | date}}</p>
            <p class="card-text">LOCATION: {{request.OrderLocation}}</p>
            <p class="card-text">START TIME: {{request.StartTime | date: 'shortTime'}}</p>
            <p class="card-text">END TYPE: {{request.ExpectedEndTime |  date: 'shortTime'}}</p>
          <a href="#" class="btn btn-primary">ACCEPT</a>
        
        </div>
        </div>
    </div>
</div>
<br>