.row{
    margin-top: 100px;
}
.boarder{
    margin-bottom: 25px;
}
#middlecol{
    background-color:#e1f5fe;
}
#b,#a{
    margin-right: 10px;
}
img{
    margin-left: 208px;
    width: 100px;
    height: 100px;
}
