<div class="body">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4 border border-light p-5" id="middlecol">  
            <p class="h4 mb-4" style="text-align:center">Profile</p>

            <div class="container" >
                <img src={{ImgUrl}} alt="default profile"  ([ngModel])="ImgUrl">
            </div>

            <label for="fname">First Name</label>
            <input type="text" id="FirstName" class="form-control mb-4" value={{FirstName}}  [(ngModel)]="FirstName" placeholder="">
            
            <label for="lname">Last Name</label>
            <input type="text" id="LastName" class="form-control mb-4"  value={{LastName}} [(ngModel)]="LastName" placeholder="">

            <label for="email">Email</label>
            <input type="email" id="Email"  class="form-control mb-4" value={{Email}}  [(ngModel)]="Email" placeholder="">

            <label for="location">Base Location</label>
            <input type="text" id="Location"  aria-label="Text input with dropdown button" list="locations" class="form-control mb-4" placeholder="Select location..." [(ngModel)]="BaseLocation">
        
                    <datalist id="locations">
                        <option *ngFor="let location of locations">{{location.DivisionalSecretary}}</option>
                    </datalist>

            <label for="phone">Contact Number</label>
            <input type="text" id="ContactNumber" class="form-control mb-4" value={{ContactNumber}} [(ngModel)]="ContactNumber" placeholder="" >

            <button type="button" mdbBtn color="danger" mdbWavesEffect align class="float-right"  routerLink="">Cancel</button>
            
            <button type="button" mdbBtn color="success" id="update" mdbWavesEffect align class="float-right" *ngIf="isClient" (click)="updateProfile()" >Update Profile</button>
            <br><br>    
        </div>
    </div>           
</div>
