.container{
    margin-top: 25px;
}
.view {
    background: url("http://oilandgasrealestate.com/wp-content/uploads/2019/01/Title-image.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
   }
form{
    background-color:white;   
}
.col-sm-6{
    margin-left: 265px;
}
.invalidInput{
    color: red
}
.ng-valid.ng-dirty:not(form) {
    border: solid 2px lightgreen;
}
  
.ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
    border: solid 2px lightcoral;
}
.h4{
    color: #3978ed;
}