
<div class="view">
    <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center">
    <div class="container text-center white-text">
    <div class="black-text text-center wow fadeInUp">

<div class="container">

    <div class="row"></div>
      
      <div class="col-sm-6">
       <!-- Default form register -->
      <form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="registerSubmit(form) && onSubmit(event)">
        <p class="h4 mb-4">SIGN UP</p>

        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" formControlName="username" [ngClass]="{'form-submitted': formSubmitted}">

        <!-- email validator message -->
        <div *ngIf="username.touched && username.invalid">
          <div *ngIf="username.errors.required">
            <small class="invalidInput">Email is required</small>
          </div>
          <div *ngIf="username.errors.email">
            <small class="invalidInput">Please input correct email type</small>
          </div>
          <br>
        </div>

        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password" [ngClass]="{'form-submitted': formSubmitted}">
          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters
          </small>

        <!-- password validator message -->
        <div *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.minlength">
            <small class="invalidInput">Password must be longer than 8 letters</small>
          </div>
          <div *ngIf="password.errors.required">
            <small class="invalidInput">Please enter a password</small>
          </div>
          <br>
        </div>
        
        <!-- Confirm Password -->
        <input type="password" id="defaultRegisterFormConfirmPassword" class="form-control mb-4" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{'form-submitted': formSubmitted}">

        <!-- confirm password validator message -->
        <small class="invalidInput" *ngIf="confirmPassword.touched && confirmPassword?.errors ||
        confirmPassword.touched && confirmPassword.errors?.mismatch">
          Password doesn't match
          <br>
        </small>
  
        <!-- Contact Number -->
        <input type="text" id="defaultRegisterFormContactNumber" class="form-control mb-4" placeholder="Contact Number" formControlName="contactNumber" [ngClass]="{'form-submitted': formSubmitted}">
        <div *ngIf="contactNumber.touched && contactNumber.invalid">
          <div *ngIf="contactNumber.errors.minlength">
            <small class="invalidInput">Invalid Phone Number</small>
          </div>
          <div *ngIf="contactNumber.errors.required">
            <small class="invalidInput">Please enter a Contact Number</small>
          </div>
          <br>
        </div>
        
        <div class="row">
          <div class="col">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input"  formControlName="userType" value="1" id="workerradio" [ngClass]="{'form-submitted': formSubmitted}"  mdbInput>
                  <label class="custom-control-label" for="workerradio">I'm a Worker</label>
              </div>
          </div>
          <div class="col">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input"  formControlName="userType" value="0" id="clientradio" [ngClass]="{'form-submitted': formSubmitted}" mdbInput>
                  <label class="custom-control-label" for="clientradio">I'm a Client</label>
              </div>
          </div>
        </div>
        <br>
       
        <button mdbBtn color="primary" block="true" class="my-4" type='submit' [disabled]='checkValid()'> SIGN UP</button>
        <hr>

        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a></p>
  
      </form>
      
      </div>
    </div>
</div>