<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark #01579b light-blue darken-4 scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong> </strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link " routerLink="" routerLinkActive="active">FIND A WORKER</a>
                </li>
            </ul>
            <div>
            <ul class="nav navbar-nav navbar-right" >
                <div class="d-flex flex-row" *ngIf="!isLogged">
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                </div>
                <div class="d-flex flex-row" *ngIf="isLogged">
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" (click)="navigateToProfile()">profile</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>
                </div>           
                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
              </ul>
            </div>
        </links>
    </mdb-navbar>
</header>