<div class="container">
    <div class="row">
        <div class="col-9">   
            <div class= "down text-center box">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>  
             </div>
             <div class="row">
                    <button mdbBtn id="button1" type="button" color="success" mdbWavesEffect routerLink="/now">Send Requests</button>
                    <button mdbBtn id="button2" type="button" color="danger" mdbWavesEffect routerLink="/later" >Cancel</button>
            </div>
        </div>
    </div>
</div>
