agm-map {
    height: 750px;
    width: inherit;
  }
.down{
    margin-top: 80px;
    height: 750px;
    width: 750px;

}
.box{
    box-shadow: 5px 5px 2px #888888;
}
#button1{
   margin-top: 10px;
   margin-left:140px;
   width: 250px;
}
#button2{
    margin-top: 10px;
    width: 250px;
}